
a[type=button], button {
    background-color: initial;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.main-menu__nav > button:hover{
text-decoration: underline;
font-size: large;


}
/* --------------------------------------------------------------------------------*/
a {
    text-decoration: none;
    color: black;
}

.main-menu__nav > button {
    display: flex;
}



div.main-menu__nav > .button__custom{
/* display: grid;
grid-template-columns: (2, auto);
grid-template-rows: "remix custom-text" ; */
justify-content: center;
width: 100px;
}

span.custom__remix{
width: 5rem;
max-width: fit-content;
min-width: 20px;
height: auto;
position: relative;

}
button.button__custom > span.custom__remix > a > img {
    background-position: 50%;
    display: inline-flex;
    width: 24px;
    vertical-align: middle;
    text-decoration: none;
    color: #fff
}

.drop-down > div {
/* how to make it so that it doesnt take up room and ends up under the category...*/
display: flex;
}
/* --------------------------------------------------------------------------------*/


div.actions__container > button > a > img{
width: 25px;
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: cover;
height: auto;

}

div.actions__container > button > a > img:first-child {
    position: relative;
    right: 20px;
    top: 4px;
    cursor:grab;

}

.action > a > i {
font-size: 1.4rem;
}
/* --------------------------------------------------------------------------------*/
video {
    position: relative;
    bottom: 260px;
    /* width:100%; */
    z-index: 2;
}
/* --------------------------------------------------------------------------------*/
.banner-2 > img {
    position: relative;
    bottom: 670px;
   width: 100%;
   z-index: 3;

}
