body {
    margin: 0 auto;
    max-height: fit-content;
background-color: linear-gradient(red, white);;
}

header {
    width: 100%;
}

.msg-bar__container{
display: grid;
grid-template-columns: 23% auto 23%;
/* grid-template-areas: "skipper message title"; */
font-family: 'Lato', sans-serif;
width: 100%;
height: 48px;
font-size: 12px;
align-items: start;
justify-content: center;
justify-items: center;
background-color: #F2F2F2;
text-align: center;
text-rendering: geometricPrecision;
position: fixed;
z-index: 1;

}
.msg-bar__container > button {
    font-size: 12px;
    text-transform: uppercase;
    margin-block-start: 4px;
cursor: grab;


}

button.msg-bar__skipper {
    visibility: hidden;
}

button.msg-title {
    position: relative;
    margin-left: 50px;
    margin-block-start: 15px;

}

button.msg-transition {
    position: relative;
    top: 15px;
}

/* --------------------------------------------------------------------------------*/

.header__navigation {
    display: flex;
    background-color: #fff;
    gap: 105px;
    align-items: center;
    justify-content: center;
    width:max-content;
    position: fixed;
    z-index: 3;
    top: 48px;

}

.rayban__icon > a >img {
    display: inline-block;
    align-self: flex-start;
    width: 80px;
    background-color: transparent;
    position: relative;
}

.main-menu__nav {
    display: flex;
    gap: 32px;
    place-content: center;
    justify-content: space-between;
}

.main-menu__nav button {
    align-items: center;
    width: fit-content;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;

}
/* --------------------------------------------------------------------------------*/
div.actions__container{
    display: flex;
    align-items: stretch;
    gap: 32px;
    padding: 5px;
    margin-left: 15px;
}
/* --------------------------------------------------------------------------------*/

div.promo__nav {
    display: grid;
    height: 48px;
    text-align: center;
    place-content: center;
    background-color: #1F1F24;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    position: fixed;
    z-index: 3;
    top: 100px;
    width: 100%;


}


.msg-transition > div > a > p{
    text-transform: none;
}


/* ---------------------------------------*/

#msg1 {

    visibility: visible;
    transition-duration: 0ms;


}

#msg2 {
    position: absolute;



    visibility: hidden;
    transition-duration: 0ms;
    opacity: 0;



}

#msg3 {
    position: absolute;


    visibility: hidden;
    opacity: 0;
    transition-duration: 0ms;



}

#msg4 {
    position: absolute;


     visibility: hidden;
    opacity: 0;
    transition-duration: 0ms;


}

#msg5 {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    /* transition-duration: 0ms; */

 }

/* --------------------------------------------------------------------------------*/
.peeps {
    display: grid;
    position: relative;
    bottom: 760px;
    width: 100%;
}


/* --------------------------------------------------------------------------------*/


/* enter the media queries here */

@media (max-width: 1149px) {
    .header__navigation{
        height: 56px;
        padding: 0 16px;
    }
    .content {
        height: 56px;
        padding: 0 16px;
    }
}

@media (min-width: 1024px){
    .header__navigation {
    height: 64px;
    padding: 0px 64px;
    }
    .content {
    /* height: 64px; */
    /* padding: 0px 64px; */
    }
}
